body {
  font-family: 'PT Serif', serif;
  background-color: #5c94b1;
  color: #ebae55;
}

#titulo {
  background-color: #5c94b1;
  border-bottom: 1px solid #333;
}

#titulo .container {
  background-color: #395065;
  border-radius: 15px;
  padding: 2rem;
}

.text-highlight {
  color: #c3c8cd;
}

#features, #comandos, #suporte {
  background-color: #395065;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #ebae55;
}

p, .lead {
  color: #ebae55;
}

.text-muted {
  color: #ebae55 !important;
}

.icon-square {
  background-color: transparent;
  border-radius: .75rem;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-square svg {
  fill: #c3c8cd;
}

.lista-c {
  border: 1px solid #333;
  border-radius: 15px;
  padding: 25px;
  background-color: #395065;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #c3c8cd;
  border-color: #c3c8cd;
  color: #395065;
}

.btn-primary:hover {
  background-color: #ebae55;
  border-color: #ebae55;
  color: #395065;
}

.btn-secondary {
  background-color: #c3c8cd;
  border-color: #c3c8cd;
  color: #395065;
}

.btn-secondary:hover {
  background-color: #ebae55;
  border-color: #ebae55;
  color: #395065;
}

.btn-outline-info {
  color: #c3c8cd;
  border-color: #c3c8cd;
}

.btn-outline-info:hover {
  background-color: #c3c8cd;
  color: #395065;
}

#footer {
  background-color: #395065;
  color: #ebae55;
  border-top: 1px solid #333;
}

.nav-link {
  color: #ebae55;
}

.nav-link:hover {
  color: #c3c8cd;
}
