body {
  font-family: 'PT Serif', serif;
  background-color: #f8f9fa;
}

#titulo {
  background-color: #343a40;
  color: #ffffff;
}

.text-highlight {
  color: #ffc107;
}

#features, #comandos, #suporte {
  background-color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.icon-square {
  background-color: #0d6efd;
  border-radius: .75rem;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-square svg {
  fill: #ffffff;
}

.lista-c {
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 25px;
  background-color: #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-primary {
  background-color: #5865F2; /* Discord color */
  border-color: #5865F2;
}

.btn-primary:hover {
  background-color: #4a55d3;
  border-color: #4a55d3;
}

.btn-secondary {
  background-color: #0088cc; /* Telegram color */
  border-color: #0088cc;
}

.btn-secondary:hover {
  background-color: #0077b3;
  border-color: #0077b3;
}


#footer {
  background-color: #343a40;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffc107;
}
