/* General */
body {
  background-color: #5c94b1;
  color: #c3c8cd;
}

/* Hero Section */
.hero {
  background-color: #395065;
  color: #ebae55;
}

.hero__title {
  font-family: "Sansation", sans-serif;
}

.hero__button {
  text-decoration: none;
  color: #ebae55;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.hero__button:hover,
.hero__button:focus-visible {
  background-color: #ebae55;
  color: #395065;
  transform: translateY(-3px);
}

/* Features Section */
.features {
  background-color: #5c94b1;
  opacity: 0;
  transition: opacity 1s;
}

.features.show {
  opacity: 1;
}

.features__icon-square {
  background-color: #395065;
  border-radius: 6px;
}

/* Commands Section */
.commands {
  background-color: #395065;
  opacity: 0;
  transition: opacity 1s;
}

.commands.show {
  opacity: 1;
}

.commands__container {
  padding: 4.4rem;
}

.commands__list {
  border: 1px solid #c3c8cd;
  border-radius: 15px;
  padding: 25px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #5c94b1;
  box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
}

.commands__list-item {
  font-size: 16px;
}

/* Support Section */
.support {
  background-color: #5c94b1;
  opacity: 0;
  transition: opacity 1s;
}

.support.show {
  opacity: 1;
}

/* Footer Section */
.footer {
  background-color: #395065;
  padding: 1rem 0;
}
